/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, ::after, ::before{
	box-sizing: border-box;
}

p, a, li {
	color: #fff;
	text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    height: 100vh;
    width: 260px;
    background-color: #111418;
    position: fixed;
    box-shadow: 5px 0px 10px #122871;
    z-index: 5;
}

.top-menu {
	width: 100%;
	display: flex;
    flex-flow: row wrap;
	justify-content: center;
	padding: 15px;
}


.img-menu {
	display: block;
	border-radius: 50%;
	width: 160px;
    height: 160px;
	border: 7px solid #343a40;
}

.name-menu {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
}

.list-menu {
	display: flex;
    align-content: center;
    width: 100%;
    flex-flow: column;
}

.list-menu li {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-bottom: 25px;
	font-size: 16px;
	letter-spacing: 1px;
}

.list-menu a:hover {
	color: #ffab00d4;
	transition: ease .3s color;
}

.header-nav {
	margin-top: 25%;
}

.selected {
	color: #ffab00d4;
}

.bottom-menu {
	height: 100px;
	background-color: black;
	height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media a {
  	height: 32px;
  	width: 32px;
}

.container {
	background-color: #db9300d4;
    height: 100vh;
	margin-left: 260px;
    position: relative;
}

.home {
    background-color: #ffffff;
    width: 85%;
    max-width: 1240px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    padding: 40px px 40px 25px;
    box-shadow: 8px 8px #000;
    border: 3px solid #000;
}

.home p {
	color: black;
}

.info {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 24px;
	text-indent: 30px;
	line-height: 30px;
	align-items: center;
	padding-right: 25px;
}

.info1 {
	margin-top: 60px;
}

.info2 {
	margin-top: 70px;
	padding-bottom: 50px;
}

.home-bem-vindo {
	text-align: center;
	font-size: 32px;
	margin-top: 40px;
	font-weight: bold;
}

.home-footer {
	font-size: 12px;
	text-align: right;
	margin-bottom: 0;
}

.container > div {
	display: none;
}

.container .show {
	display: block;
	height: 525px;
}

/*Escolaridade*/

.content-escolaridade {
	display: flex;
	padding: 10px;
	height: 518px;
}

.marista {
	width: 500px;
	border-right: 2px solid rgba(0,0,0,0.5);
	padding: 10px;
}

.sjudas {
	width: 500px;
	padding: 10px;
}

.foto-marista {
	width: 190px;
	height: 185px;
	border-radius: 50%;
	border: 4px solid #000;
	margin-right: 10px;
	margin-bottom: 10px;
}

.conteudo-marista {
	display: inline;
}

.ano-marista {
	float: right;
	font-size: 32px;
	margin: 15px;
	margin-top: 40px;
}

.info-marista {
	padding: 5px;
}

/*portifolio*/

.content {
	align-items: center;
	display: inline-block;
	justify-content: center;
	padding-top: 20px;
	padding-left: 45px;
	padding-bottom: 45px;
}

.card {
	background-color: #fff;
    border-radius: 10px;
	box-shadow: 0px 2px 23px #2b1f6f;
	width: 400px;
}

p.second-text {
    padding-top: 10px;
}

.media-card { 
	background: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/5/d/2/c/5d2c5e38f33c2727797b2ee7911668b3.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.top-card {
	padding: 20px;
	padding-top: 10px;
    margin-top: 20px;
}

.bottom-card {
	padding: 20px;
	padding-left: 70px;
}

h2.title {
    font-size: 28px;
    color: #1c078c;
}

.media-card-pong {
	background: url("https://s2.glbimg.com/kvTwEVHf2rM0uC30xl2bHY-2zBA=/695x0/s.glbimg.com/po/tt2/f/original/2016/03/02/pong.jpg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-contador {
	background: url("/img/Contador.jpeg") center/cover;
	height: 300px;
	width: 100%;
}

.media-card-login {
	background: url("/img/login2.jpeg") center/cover;
	height: 300px;
	width: 100%;
}

/*Página contato*/

.contato {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 47%);
}

.container-contato {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 5px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
	margin: 10px;
	margin-left: 420px;
}

.wrapper {
	
	width: 60px;
	height: 80px;
	padding-top: 80px;
}

.wrapper .container-contato:hover{
	width: 250px;
}

.wrapper .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1)
hover.icon{background: #0e76a8;}

.wrapper .button:nth-child(2)
hover.icon{background: #171515;}

.wrapper .button:nth-child(3)
hover.icon{background: #34af23;}

.wrapper .button:nth-child(4)
hover.icon{background: #720e9e;}

.wrapper .button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.wrapped .button:nth-child(1)
	span{color:#0e76a8;}

.wrapper .button:nth-child(2)
	span{color:   #171515;}

.wrapper .button:nth-child(3)
	span{color:  #34af23;}

.wrapper .button:nth-child(4)
	span{color:  #720e9e;}

.logos {
	float: right;
	display: grid;

}

.span-wpp {
	color: black;
}

.contato {
	box-shadow: 8px 8px #fff;
}

.home > h1 {
	color: white;
}

